.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper > img:first-of-type {
  align-self: flex-end;
  width: 127px;
}

.wrapper > img:last-of-type {
  align-self: flex-start;
  width: 232px;
}

.optionWrapper {
  color: white;
  display: flex;
  gap: 10px;
  padding-bottom: 2px;
}

.title {
  font-family: "Jura", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #f3cfb3;
}

.secondary {
  font-family: "Jura", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
  color: #f3cfb3;
}
