.topSection {
  display: flex;
  padding-left: 154px;

  .topSectionText {
    padding-top: 96px;
  }
}

.idoSection {
  width: 100%;
  max-width: 1159px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin: 0 auto;
}

.idoNavigation {
  margin-top: 100px;
  margin-bottom: 105px;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
}
