.topSection {
  display: flex;
  padding-left: 154px;

  .topSectionText {
    padding-top: 96px;
  }
}

.idoSection {
  width: 100%;
  max-width: 1159px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  margin: 0 auto;
}

.cardsContainer {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 576px) {
  .topSection {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 56px;

    .topSectionText {
      padding: 24px 16px 0 16px;

      h1 {
        margin-bottom: 8px;
      }

      p {
        line-height: 24px;
      }
    }

    img {
      width: 100%;
    }
  }

  .idoSection {
    padding: 0 16px;
  }
}
