/*.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: var(--secondary);
}

.label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 89px;
}*/
