.backLink {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;

  img {
    transform: rotate(-180deg);
    margin-right: 10px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #2f5fbb;
  }
}

.pageTitle {
  margin-bottom: 56px;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 115px;
}
