.exchangeSide {
  width: 550px;
  height: 650px;
  border: 2px solid black;
  text-align: center;
}

.balances {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.totalBalance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tokens {
  background-color: #444444;
  padding: 1rem;
}

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
