.presaleWrapper {
  width: 744px;
  height: 323px;
  background: #ffffff;
  border-radius: 8px;
  margin: 123px auto 223px auto;
  padding: 72px 56px;
  text-align: center;

  h4 {
    margin-bottom: 56px;
  }
}
